.overview-content {
    .overview-list {
        margin: 0;

        .overview-list-item {
            margin-bottom: 6px;

            .overview-list-label {
                color: var(--color-gray-700);
                margin-right: 6px;
                font-size: 11px;
            }

            .overview-list-value {
                font-size: 11px;
            }
        }


    }
}