#traffic-panel {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    border-right: 1px solid var(--color-gray-500);
    flex: 1;
    min-width: 0;

    .traffic-list-item {
        display: flex;
        gap: 6px;
        align-items: center;
        padding: 4px;
        cursor: pointer;
        border-bottom: 1px solid var(--color-gray-500);

        &:hover {
            background-color: var(--color-gray-300);
        }

        &.selected {
            background-color: var(--color-gray-400);
            color: white;
        }

        .traffic-list-item-text {
            font-size: 10px;
            margin: 0;
            color: var(--color-gray-800);
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .traffic-list-item-subtext {
            font-size: 10px;
            margin: 0;
            color: var(--color-gray-700);
        }
    }

    #traffic-list-empty {
        display: flex;
        flex-direction: column;
        padding: 4px;

        .traffic-list-item-text {
            font-size: 11px;
            margin: 0;
            padding: 0 0 3px 0;
            color: var(--color-gray-800);
            flex-grow: 1;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .traffic-list-item-subtext {
            font-size: 11px;
            margin: 0;
            color: var(--color-gray-700);
        }
    }
}